---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Content
const { title, location, type, remote, postedDate, salary, url } = {
  url: "/careers/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  location: Astro.props.post.data.location,
  type: Astro.props.post.data.type,
  remote: Astro.props.post.data.remote,
  postedDate: Astro.props.post.data.postedDate,
  salary: Astro.props.post.data.salary,
};
function formatDate(dateStr) {
  const date = new Date(dateStr);
  const day = date.getDate();
  const month = date.toLocaleString("default", { month: "long" });
  const year = date.getFullYear();
  const weekday = date.toLocaleString("default", { weekday: "short" });
  return `${weekday}, ${day} of ${month} ${year}`;
}
---

<article class="relative bg-base-50 p-8 flex flex-col">
  <a
    href={url}
    title={`View job details: ${title}`}
    aria-label={`View job details for ${title}`}
    class="absolute inset-0 z-10"></a>
  <Text
    tag="p"
    variant="textXS"
    class="text-secondary-500 uppercase font-medium"
  >
    <time datetime={postedDate}>{formatDate(postedDate)}</time>
  </Text>

  <Text tag="h3" variant="displaySM" class="text-accent-800 font-display mt-12">
    {title}
  </Text>
  <div class="flex flex-wrap items-center gap-2 text-xs text-base-600 mt-4">
    <span>{location}</span>
    <span aria-hidden="true">•</span>
    {type}
    <span aria-hidden="true">•</span>
    <span class="text-secondary-500">
      {remote}
    </span>
  </div>
  <div class="flex items-center justify-between text-xs text-accent-800 mt-1">
    <span class="font-medium text-base-700">{salary} </span>
  </div>
</article>
