---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import LawyerCard from "@/components/lawyers/LawyerCard.astro";
import { getCollection } from "astro:content";

const allLawyers = await getCollection("lawyers");
allLawyers.sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout title="律師介紹" description="認識翰霖法律事務所專業律師團隊，每位律師均具備深厚的法學素養與豐富的實務經驗。">
  <section>
    <Wrapper variant="standard" class="pt-8 pb-12">
      <div class="max-w-xl overflow-hidden">
        <Text
          tag="h1"
          variant="textXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          律師介紹
        </Text>
      </div>
      <Text
        tag="p"
        variant="textBase"
        data-aos="fade-up"
        data-aos-duration="1200"
        class="mt-2 text-base-500 dark:text-base-300 max-w-lg"
      >
        翰霖律師團隊每位成員均具備深厚的法學素養與豐富的實務經驗，致力於為當事人提供最專業的法律服務。
      </Text>
    </Wrapper>
  </section>
  <section>
    <Wrapper class="pb-24">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-12 lg:gap-4 mt-1 pt-4 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-base-50 dark:after:bg-base-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px"
      >
        {allLawyers.map((lawyer) => (
          <LawyerCard
            name={lawyer.data.name}
            title={lawyer.data.title}
            specialties={lawyer.data.specialties}
            image={lawyer.data.image.url}
            url={`/lawyers/${lawyer.slug}`}
          />
        ))}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
