---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Content
const { title, description, url, image, pubDate } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  pubDate: Astro.props.post.data.pubDate,
};
function formatDate(dateStr) {
  const date = new Date(dateStr);
  const day = date.getDate();
  const month = date.toLocaleString("default", { month: "long" });
  const year = date.getFullYear();
  const weekday = date.toLocaleString("default", { weekday: "short" });
  return `${weekday}, ${day} of ${month} ${year}`;
}
---

<article class="grid grid-cols-1 lg:grid-cols-2 group">
  <Image
    src={image}
    alt={title}
    width={1000}
    height={100}
    class="object-cover object-center w-full h-60 lg:h-[80dvh]"
  />
  <div class="p-8 lg:p-20 bg-accent-900 flex flex-col h-full justify-between">
    <div>
      <Text
        tag="p"
        variant="textXS"
        class="text-secondary-400 uppercase font-medium"
      >
        <time datetime={pubDate}>{formatDate(pubDate)}</time>
      </Text>
      <Text tag="h3" variant="displayMD" class="text-white font-display mt-12 lg:mt-24"
        >{title}</Text
      >
      <Text tag="p" variant="textBase" class="text-base-400 mt-2 lg:text-pretty"
        >{description}</Text
      >
    </div>
    <Button
      href={url}
      title={`閱讀更多: ${title}`}
      isLink={true}
      href={url}
      variant="muted"
      size="sm"
      class="w-full lg:w-fit"
    >
      Read further
    </Button>
  </div>
</article>
