---
// Assets
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";

// Content
const { title, description, url, image, pubDate } = {
  url: "/blog/posts/" + Astro.props.post.slug,
  title: Astro.props.post.data.title,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
  pubDate: Astro.props.post.data.pubDate,
};

function formatDate(dateStr) {
  const date = new Date(dateStr);
  const day = date.getDate();
  const month = date.toLocaleString("default", { month: "long" });
  const year = date.getFullYear();
  const weekday = date.toLocaleString("default", { weekday: "short" });
  return `${weekday}, ${day} of ${month} ${year}`;
}
---

<article class="relative group">
  <a
    href={url}
    title={`閱讀更多: ${title}`}
    aria-label={`Read blog post: ${title}`}
    class="absolute inset-0 z-10"></a>
  <Image
    src={image}
    alt={title}
    width={1000}
    height={100}
    class="object-cover object-top w-full h-60 "
  />
  <div class="p-8 bg-base-50">
    <Text
      tag="p"
      variant="textXS"
      class="text-secondary-500 uppercase font-medium"
    >
      <time datetime={pubDate}>{formatDate(pubDate)}</time>
    </Text>
    <Text
      tag="h3"
      variant="displayXS"
      class="text-accent-800 font-display mt-12">{title}</Text
    >
    <Text tag="p" variant="textSM" class="text-base-600 font-medium mt-2">
      {description}
    </Text>
  </div>
</article>
