---
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";

const { name, title, specialties, image, url } = Astro.props;
---

<div class="relative group">
  <a class="absolute inset-0 z-10" href={url} title={name}></a>
  <div class="relative">
    <Image
      src={image}
      alt={name}
      width={400}
      height={500}
      class="w-full aspect-4/5 object-cover object-center"
    />
    <div
      class="lg:absolute lg:inset-0 lg:duration-300 lg:dark:group-hover:bg-base-950/90 lg:group-hover:bg-base-50/90"
    >
    </div>
    <div class="lg:absolute lg:inset-x-0 lg:p-6 lg:bottom-0 mt-2 lg:mt-0">
      <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textBase"
          class="leading-6 lg:group-hover:translate-y-0 duration-800 ease-in-out lg:translate-y-12 text-base-900 dark:text-white font-medium"
        >
          {name}
        </Text>
      </div>
      <div class="overflow-hidden">
        <Text
          tag="p"
          variant="textSM"
          class="text-base-500 mt-1 dark:text-base-400 lg:ease-in-out lg:group-hover:translate-y-0 lg:duration-800 lg:translate-y-14"
        >
          {title}
        </Text>
      </div>
      {specialties && specialties.length > 0 && (
        <div class="overflow-hidden mt-2">
          <div class="flex flex-wrap gap-1 lg:group-hover:translate-y-0 lg:translate-y-14 lg:duration-800 lg:ease-in-out">
            {specialties.slice(0, 3).map((s: string) => (
              <span class="text-xs px-2 py-0.5 bg-base-200/50 dark:bg-base-800/50 text-base-600 dark:text-base-300 rounded">
                {s}
              </span>
            ))}
          </div>
        </div>
      )}
    </div>
  </div>
</div>
